<div style="display: flex; flex-direction: row;">
    <div style="width: 80%;">
      <google-map height="400px"
                  width="100%"
                  [center]="center"
                  [zoom]="zoom"
                  (mapClick)="moveMap($event)"
                  (mapInitialized)="handleMapInitialized($event)">
      </google-map>
    </div>
  
    <div style="margin-left: 20px; display: flex; flex-direction: column;">
      <div style="display: block; margin-bottom: 10px;">
        <label for="machineFrom">Place from:</label>
        <span id="machineFromAddress">{{ machineFromAddress }}</span>
      </div>
  
      <div style="display: block; margin-bottom: 10px;">
        <label for="machineTo">Place to:</label>
        <span id="machineTo">{{ machineToAddress }}</span>
      </div>
      
      <div style="display: flex; flex-direction: row; justify-content: flex-start; margin-top: auto;">
        <div style="margin-right: auto;">
          <p-button styleClass="p-button-raised p-button-text p-button-warning" label="Set From" (click)="setNewFrom()"></p-button>
        </div>
        <div style="margin-left: 10px;">
          <p-button styleClass="p-button-raised p-button-text p-button-danger" label="Delete From" (click)="deleteFrom()"></p-button>
        </div>
      </div>
      
      <div style="display: flex; flex-direction: row; justify-content: flex-start; margin-top: 10px;">
        <div style="margin-right: auto;">
          <p-button styleClass="p-button-raised p-button-text p-button-warning" label="Set To" (click)="setNewTo()"></p-button>
        </div>
        <div style="margin-left: 10px;">
          <p-button styleClass="p-button-raised p-button-text p-button-danger" label="Delete To" (click)="deleteTo()"></p-button>
        </div>
      </div>
      
      <div style="display: flex; flex-direction: row; justify-content: flex-end; margin-top: 10px;">
        <p-button styleClass="p-button-raised p-button-text p-button-success" label="Confirm" (click)="selectMachines()"></p-button>
      </div>
    </div>
  </div>
