<p-table [value]="users" [resizableColumns]="true" [scrollable]="true" scrollHeight="83vh" class="centerItems" [style]="{'min-width': '40rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of selectedColumns">{{col.header}}</th>
            <th>Edit</th>
            <th>Action</th>  
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td *ngFor="let col of selectedColumns">{{user[col.field]}}</td>
            <td>
                <p-button 
                    [rounded]="true" 
                    [label]="'Edit'"
                    (click)="openModalFromButton(user)">
                </p-button>
            </td>
            <td>
                <p-button 
                    [icon]="user.Active ? 'pi pi-times' : 'pi pi-check'" 
                    [rounded]="true" 
                    [severity]="user.Active ? 'danger' : 'success'" 
                    [label]="user.Active ? 'Deactivate' : 'Activate'"
                    (click)="toggleActivation(user)">
                </p-button>
            </td> 
        </tr>
    </ng-template>
</p-table>
