<div *ngIf="!selectedSize" fxLayout="row wrap" fxLayoutAlign="center center" style="align-items: center;">
    <p-card *ngFor="let sizeWithPrice of sizesWithPrices" [header]="getSizeHeader(sizeWithPrice.Size)" [style]="{width:'300px', margin: '10px', cursor: 'pointer'}" (click)="selectSize(sizeWithPrice.Size)">
      <div class="placeholder">
        <!-- img placeholder -->
      </div>
      <p>Size: {{ sizeWithPrice.Size }}</p>
      <p>Price: {{ (sizeWithPrice.Price/100).toFixed(2) }}$</p>
    </p-card>
</div>


<div *ngIf="selectedSize" class="centerItems" style="margin-top: 20px;">
<form [formGroup]="packageForm" (ngSubmit)="submitForm()">
    <p-card header="Parcel Information" [style]="{width:'500px'}">
      <div class="field">
        <label for="ReceiverMail">Receiver Mail</label>
        <div class="p-inputgroup w-full">
          <input pInputText id="ReceiverMail" class="w-full" formControlName="ReceiverMail">
        </div>
      </div>
      <div class="field">
        <label for="PaymentMethodId">Payment Method</label>
        <div class="p-inputgroup w-full">
          <ng-container *ngFor="let paymentMethod of paymentMethods; let i = index">
            <button pButton type="button" [ngClass]="{'payment-button': true, 'first-button': i === 0, 'last-button': i === paymentMethods.length - 1, 'active': selectedPaymentMethodId === paymentMethod.Id}" (click)="selectPaymentMethod(paymentMethod.Id)">
              <i class="pi {{ getPaymentIcon(paymentMethod.Id) }}"></i>
              {{ paymentMethod.PaymentName }}
            </button>
            <span *ngIf="i !== paymentMethods.length - 1" class="spacer"></span>
          </ng-container>
        </div>
      </div>
      <div class="field">
        <label for="Description">Description</label>
        <input pInputText id="Description" class="w-full" formControlName="Description"/>
      </div>
      <div class="field">
        <label for="MachineNameFrom">Machine From</label>
        <div class="p-inputgroup w-full">
          <!-- <p-inputNumber id="MachineIdFrom" class="w-full" formControlName="MachineIdFrom"></p-inputNumber> -->
          <p>{{machineLabelFrom}}</p>
        </div>
      </div>
      <div class="field">
        <label for="MachineNameTo">Machine To</label>
        <div class="p-inputgroup w-full">
          <!-- <p-inputNumber id="MachineIdTo" class="w-full" formControlName="MachineIdTo"></p-inputNumber> -->
          <p>{{machineLabelTo}}</p>
        </div>
      </div>
      <div *ngIf="selectedSize">
        <button pButton type="button" label="Select Machines" icon="pi pi-plus" (click)="showParcelModal()"></button>
      </div>
      <div style="margin-top: 20px;">
        <p-button label="Send" styleClass="w-full" type="submit" severity="success"></p-button>
      </div>
    </p-card>
  </form>
  </div>