<div class="container" *ngIf="!selectedSize" style="margin-top: 20px;">
  <div class="card-container">
    <p-card header="Small" [style]="{width:'360px'}" (click)="selectSize('S')">
      <div class="placeholder">
        <!-- Tutaj dodaj placeholder na zdjęcie -->
      </div>
      <p>Size: S</p>
      <p>Price: $X.XX</p>
    </p-card>
    <p-card header="Medium" [style]="{width:'360px'}" (click)="selectSize('M')">
      <div class="placeholder">
        <!-- Tutaj dodaj placeholder na zdjęcie -->
      </div>
      <p>Size: M</p>
      <p>Price: $X.XX</p>
    </p-card>
    <p-card header="Large" [style]="{width:'360px'}" (click)="selectSize('L')">
      <div class="placeholder">
        <!-- Tutaj dodaj placeholder na zdjęcie -->
      </div>
      <p>Size: L</p>
      <p>Price: $X.XX</p>
    </p-card>
  </div>
</div>

<div *ngIf="selectedSize" class="centerItems" style="margin-top: 20px;">
<form [formGroup]="packageForm" (ngSubmit)="submitForm()">
    <p-card header="Parcel Information" [style]="{width:'500px'}">
      <div class="field">
        <label for="ReceiverId">ReceiverId</label>
        <div class="p-inputgroup w-full">
          <p-inputNumber id="ReceiverId" class="w-full" formControlName="ReceiverId"></p-inputNumber>
        </div>
      </div>
      <div class="field">
        <label for="PaymentMethodId">Payment Method</label>
        <div class="p-inputgroup w-full">
          <ng-container *ngFor="let paymentMethod of paymentMethods; let i = index">
            <button pButton type="button" [ngClass]="{'payment-button': true, 'first-button': i === 0, 'last-button': i === paymentMethods.length - 1, 'active': selectedPaymentMethodId === paymentMethod.Id}" (click)="selectPaymentMethod(paymentMethod.Id)">
              <i class="pi {{ getPaymentIcon(paymentMethod.Id) }}"></i>
              {{ paymentMethod.PaymentName }}
            </button>
            <span *ngIf="i !== paymentMethods.length - 1" class="spacer"></span>
          </ng-container>
        </div>
      </div>
      <div class="field">
        <label for="Description">Description</label>
        <input pInputText id="Description" class="w-full" formControlName="Description"/>
      </div>
      <div class="field">
        <label for="MachineNameFrom">Machine From</label>
        <div class="p-inputgroup w-full">
          <!-- <p-inputNumber id="MachineIdFrom" class="w-full" formControlName="MachineIdFrom"></p-inputNumber> -->
          <p>{{machineLabelFrom}}</p>
        </div>
      </div>
      <div class="field">
        <label for="MachineNameTo">Machine To</label>
        <div class="p-inputgroup w-full">
          <!-- <p-inputNumber id="MachineIdTo" class="w-full" formControlName="MachineIdTo"></p-inputNumber> -->
          <p>{{machineLabelTo}}</p>
        </div>
      </div>
      <div *ngIf="selectedSize">
        <button pButton type="button" label="Open Modal" icon="pi pi-plus" (click)="showParcelModal()"></button>
      </div>
      <div style="margin-top: 20px;">
        <p-button label="Submit" styleClass="w-full" type="submit" severity="success"></p-button>
      </div>
    </p-card>
  </form>
  </div>