<p-table [value]="orders" [resizableColumns]="true" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Client</th>
            <th>Order Date</th>
            <th>Status</th>
            <th style="width: 5rem">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.customer}}</td>
            <td>{{order.orderDate | date}}</td>
            <td>{{order.status}}</td>
            <td>
                <p-button icon="pi pi-check" [rounded]="true" severity="warning" label="Edit"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
