
@media (max-width: 768px) {
p-table {
    flex-basis: 100%; /* Tabela zajmuje całą szerokość na mniejszych ekranach */
}
}
  p-table {
    padding: 20px;
    display: flex;
    flex-basis: 80%; /* Minimalna szerokość tabeli */
  }
td {
    flex-grow: 1; /* Kolumny będą rozciągać się równomiernie */
}